div {
    width: 300px;
    padding: 20px 30px;
}

input, select {
    display: block;
    margin-top: 3px;
    padding: 6px 8px;
    font-size: 16px;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #8BC34A;
    color: white;
    width: 100%;
    font-size: 22px;
    margin-top: 16px;
    border: 0;
    border-radius: 10px;
    padding: 8px;
}