body {
    /* כיוון האתר מימין לשמאל */
    direction: rtl;
    /* רקע לאתר */
    background-color: #673ab7;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* יישור טקסט */
    text-align: center;
    /* גודל הגופן */
    font-size: 50px;
}

div {
    /* רוחב */
    width: 300px;
    /* רקע */
    background-color: white;
    /* ריווח פנימי */
    padding: 20px 30px;
    /* ריווח חיצוני אוטומטי (לצורך מרכוז) */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 6px;
}

input, select {
    display: block;
    margin-top: 3px;
    padding: 6px 8px;
    font-size: 16px;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #8BC34A;
    color: white;
    width: 100%;
    font-size: 22px;
    margin-top: 16px;
    border: 0;
    border-radius: 10px;
    padding: 8px;
}